.dashboard {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.greeting {
  position: absolute;
  color: white;
  text-align: left;
  top: 20%;
  left: 15%;
  font-size: 200%;
}

.particlesBackground {
  height: 100%;
}